.app {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.body {
	margin-bottom: 50px;
}

.bottom {
	width: 100%;
	border-top: solid 1px var(--adm-color-border);
	position: fixed;
	bottom: 0;
	background-color: #fff;
}

.adm-tab-bar-wrap {
	width: 100%;
}

.adm-tab-bar-item-active {
	color: var(--adm-color-success);
}
